# Set default behavior to automatically handle line endings
* text=auto

# Source code files
*.cs text eol=crlf
*.sql text eol=crlf
*.ps1 text eol=crlf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.svg text eol=lf

# Binary files
*.mdf binary
*.ldf binary
*.rar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.pdf binary
*.dll binary
*.exe binary
